*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Genel yapı */
body {
    background-color: rgb(47, 47, 47);
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
    height: 100vh;
}

/* Sidebar için genel yapı */
.sidebar{
    width: 220px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2{
    margin-bottom: 20px;
    font-size: 24px;
}

.sidebar ul{
    list-style: none;

}

.sidebar ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    display: block;
    border-radius: 4px;
    transition: background 0.3s;
}

.sidebar ul li a:hover{
    background-color: rgb(77, 77, 77);

}

/* Analytics İçeriği */
.main-content {
    flex-grow: 1;
    padding: 30px;
    background-color: #bdc3c7;
}

header h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
}

section.content {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}