body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(71, 71, 71);
}

.store-header{
    background-color: rgb(red, green, blue);
    color: rgb(255,255,255);
    text-align: center;
    padding: 40px;
}

.product-categories{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 0;
}

.category-electronic{
    background-color: rgb(0, 63, 42);
    color: #ffffff;

}

.category-fashion{
    background-color: rgb(42, 42, 71);
    color: #ffffff;
}

.category-home{
    background-color: rgb(81, 49, 49);
    color: #ffffff;
}